## HR Analytics Model Table

### Set source path to import code

In [1]:
%pwd

'C:\\Users\\t0272m1\\Projects\\HR Analytics\\notebooks'

In [2]:
source_path = 'E:\Conway\HR-Analytics\source'
source_path

'E:\\Conway\\HR-Analytics\\source'

In [3]:
import os
os.chdir(source_path)
%pwd

'E:\\Conway\\HR-Analytics\\source'

In [4]:
ls

 Volume in drive E is DATA
 Volume Serial Number is AEFF-63BE

 Directory of E:\Conway\HR-Analytics\source

10/07/2019  02:06 PM    <DIR>          .
10/07/2019  02:06 PM    <DIR>          ..
08/28/2019  01:04 PM                 2 __init__.py
10/08/2019  11:19 AM    <DIR>          __pycache__
10/04/2019  01:09 PM            16,693 base_table.py
08/28/2019  01:04 PM            26,727 calendrical.py
10/07/2019  02:06 PM             3,308 config_bvp.yml
10/04/2019  12:18 PM             4,205 config_jnap.yml
09/19/2019  03:25 PM            13,481 config_shap.yml
09/19/2019  03:24 PM             6,587 config_tac.yml
09/24/2019  11:35 AM             1,942 config_wap.yml
09/19/2019  03:24 PM             6,360 config_wtap.yml
09/18/2019  11:20 AM             6,314 database.py
10/04/2019  01:11 PM            16,166 main.py
09/25/2019  11:27 AM            49,153 model.py
10/02/2019  10:50 AM             3,624 pipeline.yml
10/07/2019  02:06 PM               963 pipeline_bvp.py
09/12/2019  01:53 PM             1,050 pipeline_jnap.py
09/12/2019  02:08 PM             1,056 pipeline_shap.py
09/12/2019  02:20 PM               941 pipeline_tac.py
09/24/2019  09:11 AM               953 pipeline_wap.py
09/12/2019  02:21 PM               942 pipeline_wtap.py
10/02/2019  10:59 AM             6,876 weather.py
              20 File(s)        167,343 bytes
               3 Dir(s)  133,114,699,776 bytes free

### Imports

In [5]:
import calendar
import datetime
import itertools
import jaydebeapi as jdb
import json
import math
import matplotlib
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pandas.io.sql as psql
import psycopg2
import random
import requests
import seaborn as sns
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine
import statsmodels as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
import urllib.request

In [51]:
# Internal Python Packages
from base_table import set_production_lines
from calendrical import expand_dates
from database import connect_greenplum
from database import create_frame_from_db2
from database import create_frame_from_pg
from database import create_sqlalchemy_engine
from database import write_frame_to_pg
from main import get_pipeline_config
from main import get_plant_config
from pipeline_bvp import bvp_work_day
from pipeline_bvp import get_bvp_crew_map
from pipeline_bvp import set_bvp_crew_map
from pipeline_jnap import jnap_work_day
from pipeline_jnap import get_jnap_crew_map
from pipeline_jnap import set_jnap_crew_map
from pipeline_shap import shap_work_day
from pipeline_shap import get_shap_crew_map
from pipeline_shap import set_shap_crew_map
from pipeline_tac import tac_work_day
from pipeline_tac import get_tac_crew_map
from pipeline_tac import set_tac_crew_map
from pipeline_wap import wap_work_day
from pipeline_wap import get_wap_crew_map
from pipeline_wap import set_wap_crew_map
from pipeline_wtap import wtap_work_day
from pipeline_wtap import get_wtap_crew_map
from pipeline_wtap import set_wtap_crew_map

### Settings

In [7]:
sns.set(style="darkgrid")

In [81]:
pd.set_option('display.max_rows', 500)

### Get Specifications

In [8]:
pipeline_specs = get_pipeline_config(source_path)
pipeline_specs

{'datalake': {'schema': 'lab_datasci',
  'host': 'shbdmdwp001.servers.chrysler.com',
  'port': 5432,
  'user': 'datasci',
  'password': 'datasci_01',
  'database': 'odshawq'},
 'jdbc': {'driver': 'com.ibm.db2.jcc.DB2Driver',
  'server': 'jdbc:db2://SRVR1874.dbms.chrysler.com:18740/AUCERPTP',
  'user': 'datasci',
  'password': 'datasci_01',
  'jar_file': 'c:/installed/sqllib/java/db2jcc4.jar'},
 'holidays': {'calendar_us': ['2016-01-01',
   '2016-01-18',
   '2016-03-25',
   '2016-03-28',
   '2016-05-30',
   '2016-07-04',
   '2016-09-05',
   '2016-11-08',
   '2016-11-11',
   '2016-11-24',
   '2016-11-25',
   '2016-12-26',
   '2016-12-27',
   '2016-12-28',
   '2016-12-29',
   '2016-12-30',
   '2017-01-02',
   '2017-01-22',
   '2017-04-14',
   '2017-04-17',
   '2017-05-29',
   '2017-07-04',
   '2017-09-04',
   '2017-11-10',
   '2017-11-22',
   '2017-11-23',
   '2017-12-25',
   '2017-12-26',
   '2017-12-29',
   '2017-12-30',
   '2017-12-31',
   '2018-01-01',
   '2018-01-15',
   '2018-03-30',
   '2018-04-02',
   '2018-05-28',
   '2018-07-04',
   '2018-09-03',
   '2018-11-06',
   '2018-11-12',
   '2018-11-22',
   '2018-11-23',
   '2018-12-24',
   '2018-12-25',
   '2018-12-26',
   '2018-12-27',
   '2018-12-28',
   '2018-12-31',
   '2019-01-01',
   '2019-01-21',
   '2019-04-19',
   '2019-04-22',
   '2019-05-27',
   '2019-07-04',
   '2019-09-02',
   '2019-11-11',
   '2019-11-28',
   '2019-11-29',
   '2019-12-23',
   '2019-12-24',
   '2019-12-25',
   '2019-12-26',
   '2019-12-27',
   '2019-12-30',
   '2019-12-31'],
  'calendar_canada': ['2016-01-01',
   '2016-03-25',
   '2016-03-28',
   '2016-05-20',
   '2016-05-23',
   '2016-07-01',
   '2016-08-01',
   '2016-09-02',
   '2016-09-05',
   '2016-10-10',
   '2016-11-11',
   '2016-12-26',
   '2016-12-27',
   '2016-12-28',
   '2016-12-29',
   '2016-12-30',
   '2017-01-02',
   '2017-04-14',
   '2017-04-17',
   '2017-05-19',
   '2017-05-22',
   '2017-06-30',
   '2017-09-01',
   '2017-09-04',
   '2017-10-09',
   '2017-11-10',
   '2017-12-25',
   '2017-12-26',
   '2017-12-27',
   '2017-12-28',
   '2017-12-29',
   '2018-01-01',
   '2018-03-30',
   '2018-04-02',
   '2018-05-18',
   '2018-05-21',
   '2018-07-02',
   '2018-08-31',
   '2018-09-03',
   '2018-10-08',
   '2018-11-12',
   '2018-12-24',
   '2018-12-25',
   '2018-12-26',
   '2018-12-27',
   '2018-12-28',
   '2018-12-31',
   '2019-01-01',
   '2019-04-19',
   '2019-04-22',
   '2019-05-17',
   '2019-05-20',
   '2019-07-01',
   '2019-08-30',
   '2019-09-02',
   '2019-10-14',
   '2019-11-11',
   '2019-12-23',
   '2019-12-24',
   '2019-12-25',
   '2019-12-26',
   '2019-12-27',
   '2019-12-30',
   '2019-12-31',
   '2020-01-01',
   '2020-04-10',
   '2020-04-13',
   '2020-05-15',
   '2020-05-18',
   '2020-07-03',
   '2020-09-04',
   '2020-09-07']}}

In [9]:
pipeline_specs['datalake']

{'schema': 'lab_datasci',
 'host': 'shbdmdwp001.servers.chrysler.com',
 'port': 5432,
 'user': 'datasci',
 'password': 'datasci_01',
 'database': 'odshawq'}

In [10]:
plant_id = 'jnap'
plant_id

'jnap'

In [11]:
pipeline_specs['plant_id'] = plant_id
pipeline_specs['project_directory'] = source_path
pipeline_specs

{'datalake': {'schema': 'lab_datasci',
  'host': 'shbdmdwp001.servers.chrysler.com',
  'port': 5432,
  'user': 'datasci',
  'password': 'datasci_01',
  'database': 'odshawq'},
 'jdbc': {'driver': 'com.ibm.db2.jcc.DB2Driver',
  'server': 'jdbc:db2://SRVR1874.dbms.chrysler.com:18740/AUCERPTP',
  'user': 'datasci',
  'password': 'datasci_01',
  'jar_file': 'c:/installed/sqllib/java/db2jcc4.jar'},
 'holidays': {'calendar_us': ['2016-01-01',
   '2016-01-18',
   '2016-03-25',
   '2016-03-28',
   '2016-05-30',
   '2016-07-04',
   '2016-09-05',
   '2016-11-08',
   '2016-11-11',
   '2016-11-24',
   '2016-11-25',
   '2016-12-26',
   '2016-12-27',
   '2016-12-28',
   '2016-12-29',
   '2016-12-30',
   '2017-01-02',
   '2017-01-22',
   '2017-04-14',
   '2017-04-17',
   '2017-05-29',
   '2017-07-04',
   '2017-09-04',
   '2017-11-10',
   '2017-11-22',
   '2017-11-23',
   '2017-12-25',
   '2017-12-26',
   '2017-12-29',
   '2017-12-30',
   '2017-12-31',
   '2018-01-01',
   '2018-01-15',
   '2018-03-30',
   '2018-04-02',
   '2018-05-28',
   '2018-07-04',
   '2018-09-03',
   '2018-11-06',
   '2018-11-12',
   '2018-11-22',
   '2018-11-23',
   '2018-12-24',
   '2018-12-25',
   '2018-12-26',
   '2018-12-27',
   '2018-12-28',
   '2018-12-31',
   '2019-01-01',
   '2019-01-21',
   '2019-04-19',
   '2019-04-22',
   '2019-05-27',
   '2019-07-04',
   '2019-09-02',
   '2019-11-11',
   '2019-11-28',
   '2019-11-29',
   '2019-12-23',
   '2019-12-24',
   '2019-12-25',
   '2019-12-26',
   '2019-12-27',
   '2019-12-30',
   '2019-12-31'],
  'calendar_canada': ['2016-01-01',
   '2016-03-25',
   '2016-03-28',
   '2016-05-20',
   '2016-05-23',
   '2016-07-01',
   '2016-08-01',
   '2016-09-02',
   '2016-09-05',
   '2016-10-10',
   '2016-11-11',
   '2016-12-26',
   '2016-12-27',
   '2016-12-28',
   '2016-12-29',
   '2016-12-30',
   '2017-01-02',
   '2017-04-14',
   '2017-04-17',
   '2017-05-19',
   '2017-05-22',
   '2017-06-30',
   '2017-09-01',
   '2017-09-04',
   '2017-10-09',
   '2017-11-10',
   '2017-12-25',
   '2017-12-26',
   '2017-12-27',
   '2017-12-28',
   '2017-12-29',
   '2018-01-01',
   '2018-03-30',
   '2018-04-02',
   '2018-05-18',
   '2018-05-21',
   '2018-07-02',
   '2018-08-31',
   '2018-09-03',
   '2018-10-08',
   '2018-11-12',
   '2018-12-24',
   '2018-12-25',
   '2018-12-26',
   '2018-12-27',
   '2018-12-28',
   '2018-12-31',
   '2019-01-01',
   '2019-04-19',
   '2019-04-22',
   '2019-05-17',
   '2019-05-20',
   '2019-07-01',
   '2019-08-30',
   '2019-09-02',
   '2019-10-14',
   '2019-11-11',
   '2019-12-23',
   '2019-12-24',
   '2019-12-25',
   '2019-12-26',
   '2019-12-27',
   '2019-12-30',
   '2019-12-31',
   '2020-01-01',
   '2020-04-10',
   '2020-04-13',
   '2020-05-15',
   '2020-05-18',
   '2020-07-03',
   '2020-09-04',
   '2020-09-07']},
 'plant_id': 'jnap',
 'project_directory': 'E:\\Conway\\HR-Analytics\\source'}

In [12]:
plant_specs = get_plant_config(pipeline_specs)
plant_specs

{'plant': {'code': 4012,
  'latitude': 42.375292,
  'longitude': -82.966222,
  'market_id': 7,
  'shift_days': 4,
  'shift_hours': 10,
  'absence_codes': ['BERC',
   'BERE',
   'BERU',
   'BERX',
   'CARE',
   'CARU',
   'FMLA',
   'FMLD',
   'FMLU',
   'HOMD',
   'ILFE',
   'ILFU',
   'IPBE',
   'IPME',
   'IPNU',
   'IPSE',
   'JURE',
   'MISE',
   'MISU',
   'PERU',
   'PPAA',
   'PPAU',
   'TRAG',
   'WTRU'],
  'exclude_dates': [['2018-08-25', '2018-08-31'],
   ['2019-01-02', '2019-01-05'],
   ['2020-08-10', '2020-08-14']]},
 'base_table': {'start_date': datetime.date(2017, 1, 1),
  'end_date': None,
  'use_table': 'lab_dataeng.base_df',
  'use_table_date': None,
  'write_table': True},
 'model': {'models': ['sarimax'],
  'target': 'absences_unplanned',
  'npreds': 4,
  'p_arima': 1,
  'd_arima': 0,
  'q_arima': 0,
  'features': ['actual_hours',
   'lost_hours',
   'absences_unplanned_rolling_median_12',
   'absences_unplanned_rolling_median_20',
   'quarter',
   'month',
   'week',
   'day',
   'day_of_week',
   'day_of_year'],
  'top_features': 5,
  'band_pct': 0.3,
  'levels': ['crew', 'production_line'],
  'crews': ['A', 'B', 'C'],
  'departments': {'Material': '3300',
   'Body Shop': '9110',
   'Paint Shop': '9130',
   'Trim': '9150',
   'Chassis': '9170',
   'Final': '9173',
   'Quality 1': '9190',
   'Quality 2': '9193'},
  'production_lines': {'Material': ['Material',
    ['11', '12', '24', '41', '42', '43', '44', '45']],
   'Body Shop': ['Body Shop', []],
   'Paint Shop': ['Paint Shop', []],
   'Trim 1': ['Trim',
    ['01',
     '02',
     '03',
     '04',
     '05',
     '06',
     '07',
     '08',
     '09',
     '10',
     '11',
     '12',
     '22']],
   'Trim 2': ['Trim', ['13', '14', '15', '16', '17', '18', '19', '20', '21']],
   'Door Line': ['Trim', ['35', '36', '37', '38', '39', '40', '41']],
   'Engine Line': ['Chassis', ['01', '02', '03', '04', '05', '06', '07']],
   'Chassis 1 & 2': ['Chassis',
    ['08', '09', '10', '11', '12', '13', '14', '15', '16', '17']],
   'Sunroof Deck': ['Chassis', ['18', '19', '20', '21', '22']],
   'Chassis 3': ['Chassis',
    ['23', '24', '25', '26', '27', '28', '29', '30', '31']],
   'Chassis 4': ['Chassis', ['32', '33', '34', '35', '36', '37', '38']],
   'Final 1': ['Final', ['01', '02', '03', '04', '05', '06', '07', '08']],
   'Final 2': ['Final', ['09', '10', '11', '12', '13', '14']],
   'Rolls': ['Final', ['15', '16', '17']],
   'Quality 1': ['Quality 1', []],
   'Quality 2': ['Quality 2', []]},
  'write_table': True,
  'use_peaks': False,
  'peak_table': 'abs_ad_median_replace_tbl_20190917'}}

### Connect to Postgres

In [13]:
engine_dl = create_sqlalchemy_engine(pipeline_specs['datalake'])
engine_dl

Engine(postgresql://datasci:***@shbdmdwp001.servers.chrysler.com:5432/odshawq)

In [14]:
conn_dl, curs_dl = connect_greenplum(pipeline_specs['datalake'])
conn_dl, curs_dl

(<connection object at 0x0000000018B86DB0; dsn: 'user=datasci password=xxx dbname=odshawq host=shbdmdwp001.servers.chrysler.com port=5432', closed: 0>,
 <cursor object at 0x0000000018CED588; closed: 0>)

### Show Dataframe Features

In [15]:
def show_features(df, threshold = 200):
    for f in df.columns:
        print("\nFeature: %s" % f)
        vc = df[f].value_counts()
        vc_len = len(vc)
        print("Value Counts: %d" % vc_len)
        if vc_len and vc_len <= threshold:
            uv = df[f].unique()
            print("Unique Values: %s" % uv)
    return

### Crew Maps

In [30]:
crew_map_get_table = {
    'BVP'  : get_bvp_crew_map,
    'JNAP' : get_jnap_crew_map,
    'SHAP' : get_shap_crew_map,
    'TAC'  : get_tac_crew_map,
    'WAP'  : get_wap_crew_map,
    'WTAP' : get_wtap_crew_map,
    }

crew_map_set_table = {
    'BVP'  : set_bvp_crew_map,
    'JNAP' : set_jnap_crew_map,
    'SHAP' : set_shap_crew_map,
    'TAC'  : set_tac_crew_map,
    'WAP'  : set_wap_crew_map,
    'WTAP' : set_wtap_crew_map,
    }

crew_work_day_table = {
    'BVP'  : bvp_work_day,
    'JNAP' : jnap_work_day,
    'SHAP' : shap_work_day,
    'TAC'  : tac_work_day,
    'WAP'  : wap_work_day,
    'WTAP' : wtap_work_day,
    }

### Streaks

In [65]:
def streaks(x):
    sign = np.sign(x)
    s = sign.groupby((sign != sign.shift()).cumsum()).cumsum()
    return (s.where(s > 0, 0.0))

def streak_1(x):
    return np.sum(x == 1)

def streak_2(x):
    return np.sum(x == 2)

def streak_3(x):
    return np.sum(x == 3)

def streak_4_plus(x):
    return np.sum(x >= 4)

### Holiday Calendar

In [34]:
chrysler_holiday_table = pipeline_specs['holidays']['calendar_us']
chrysler_holiday_table

['2016-01-01',
 '2016-01-18',
 '2016-03-25',
 '2016-03-28',
 '2016-05-30',
 '2016-07-04',
 '2016-09-05',
 '2016-11-08',
 '2016-11-11',
 '2016-11-24',
 '2016-11-25',
 '2016-12-26',
 '2016-12-27',
 '2016-12-28',
 '2016-12-29',
 '2016-12-30',
 '2017-01-02',
 '2017-01-22',
 '2017-04-14',
 '2017-04-17',
 '2017-05-29',
 '2017-07-04',
 '2017-09-04',
 '2017-11-10',
 '2017-11-22',
 '2017-11-23',
 '2017-12-25',
 '2017-12-26',
 '2017-12-29',
 '2017-12-30',
 '2017-12-31',
 '2018-01-01',
 '2018-01-15',
 '2018-03-30',
 '2018-04-02',
 '2018-05-28',
 '2018-07-04',
 '2018-09-03',
 '2018-11-06',
 '2018-11-12',
 '2018-11-22',
 '2018-11-23',
 '2018-12-24',
 '2018-12-25',
 '2018-12-26',
 '2018-12-27',
 '2018-12-28',
 '2018-12-31',
 '2019-01-01',
 '2019-01-21',
 '2019-04-19',
 '2019-04-22',
 '2019-05-27',
 '2019-07-04',
 '2019-09-02',
 '2019-11-11',
 '2019-11-28',
 '2019-11-29',
 '2019-12-23',
 '2019-12-24',
 '2019-12-25',
 '2019-12-26',
 '2019-12-27',
 '2019-12-30',
 '2019-12-31']

### Get Base Table

In [16]:
output_path = 'E:/HR-Analytics/data_test'
output_path

'E:/HR-Analytics/data_test'

In [17]:
schema = pipeline_specs['datalake']['schema']
schema

'lab_datasci'

In [18]:
table_date = '20191006'
table_date

'20191006'

In [19]:
table_name = '_'.join(['abs', plant_id, 'base', table_date, 'tbl'])
table_name

'abs_jnap_base_20191006_tbl'

In [20]:
# input_file is a base table
read_from_table = True
if read_from_table:
    query = "select * from \"" + schema + "\".\"" + table_name + "\""
    df_base = create_frame_from_pg(conn_dl, table_name, query)
else:
    file_name = '.'.join([table_name, 'csv'])
    file_path = '/'.join([output_path, file_name])
    df_base = pd.read_csv(file_path, low_memory=False)

In [21]:
df_base.shape

(5807670, 32)

In [22]:
df_base.columns

Index(['cid', 'workdate', 'ch_flexwrk_code', 'zip', 'lost_hrs', 'abs_code',
       'c_typ', 'ch_corploc', 'ch_dept', 'ch_supv_grp', 'shift', 'ch_actl_hrs',
       'ch_paa_hrs', 'holiday_hrs', 'birthdate', 'job_classification',
       'empl_tmp', 'empl_part_time', 'straight_hrs_by_payweek',
       'time_half_hrs_by_payweek', 'double_time_hrs_by_payweek',
       'shift_premium_by_payweek', 'eg_by_payweek', 'hrlypayrate',
       'offrole_hours_for_period', 'offrole_reason_code_for_period', 'team',
       'age', 'tenure', 'is_work_day', 'crew', 'production_line'],
      dtype='object')

In [23]:
df_base['workdate'].min()

'2017-01-01'

In [24]:
df_base['workdate'].max()

'2019-10-01'

In [25]:
df_base.sample(20)

,cid,workdate,ch_flexwrk_code,zip,lost_hrs,abs_code,c_typ,ch_corploc,ch_dept,ch_supv_grp,...,eg_by_payweek,hrlypayrate,offrole_hours_for_period,offrole_reason_code_for_period,team,age,tenure,is_work_day,crew,production_line
2265577,1362005,2017-02-02,4,,0.0,,,0,0,0,...,1.0,26.000000,0.0,0,0,31.597260,6.657534,Y,A,
5148043,1680782,2017-11-23,4,,0.0,,,0,0,0,...,0.0,0.000000,0.0,0,0,33.002740,0.000000,N,A,
1840319,965200,2018-04-23,0,48180,0.0,,,4012,9173,14,...,1.0,29.940000,0.0,0,14,47.854795,21.901370,Y,A,Final 2
5090594,1554591,2018-11-13,0,48219-1930,0.0,,,4012,9170,619,...,1.0,17.000000,0.0,0,619,30.994521,0.693151,Y,C,Sunroof Deck
3512921,1460559,2017-11-17,0,48220-2248,0.0,,,4012,9150,307,...,1.0,21.000000,0.0,0,307,30.178082,3.558904,Y,B,Trim 1
2873359,1415768,2018-12-23,0,48088-5957,1.5,HOMR,H,4012,9170,36,...,1.0,26.000000,0.0,0,36,37.873973,6.287671,N,A,Chassis 4
4601356,1491542,2019-04-17,0,48195-4146,0.0,,,4012,9150,399,...,0.0,0.000000,0.0,0,399,0.000000,0.000000,Y,B,
2834568,1403442,2019-01-03,0,48035-3015,0.0,,,4012,9173,10,...,1.0,0.000000,0.0,0,10,26.616438,6.797260,Y,A,Final 2
2087289,1415767,2017-04-25,4,,0.0,,,4012,9173,301,...,1.0,22.500000,0.0,0,301,29.709589,4.605479,N,B,Final 1
5732424,1678949,2018-09-05,2,48227-1350,0.0,,,4012,9110,610,...,0.0,0.000000,0.0,0,610,25.704110,0.802740,N,C,Body Shop
4159888,1475094,2017-02-26,4,,0.0,,,0,0,0,...,0.0,0.000000,0.0,0,0,0.000000,0.000000,N,A,
3401805,1418347,2017-06-20,0,48228-2860,1.0,HOMR,H,4012,9150,604,...,1.0,23.500000,0.0,0,604,27.843836,4.682192,Y,C,Trim 1
662919,1362867,2017-04-29,0,48224,0.0,,,4012,9150,8,...,1.0,26.000000,0.0,0,8,28.895890,6.876712,N,A,Trim 1
3270454,1438950,2017-02-14,4,,0.0,,,4012,9150,637,...,1.0,21.000000,0.0,0,637,0.000000,0.000000,Y,C,Door Line
3147697,1422050,2018-09-12,0,48240-1662,0.0,,,4012,9150,641,...,1.0,24.000000,0.0,0,641,30.452055,5.893151,N,C,Door Line
2764596,1376793,2019-09-07,0,48228,0.0,,,4012,3300,345,...,1.0,29.940000,0.0,0,345,50.276712,8.663014,Y,B,Material
2032694,1363618,2019-03-20,0,48205-2510,0.0,,,4012,9173,301,...,1.0,29.939744,0.0,0,301,41.747945,8.728767,Y,B,Final 1
915536,881674,2018-10-31,0,48185,0.0,,,4012,9190,8,...,1.0,30.220000,0.0,0,8,52.117808,24.260274,Y,A,Quality 1
1288614,908145,2019-09-26,0,48162,0.0,,,4012,3300,11,...,0.0,0.000000,0.0,0,11,48.589041,23.287671,Y,A,Material
5800400,1687432,2017-10-08,4,,0.0,,,0,0,0,...,0.0,0.000000,0.0,0,0,23.556164,0.000000,N,A,

In [26]:
df_base['team'] = df_base['ch_supv_grp'].astype(float).astype(int).astype(str)
df_base['team'] = df_base['team'].str.zfill(3)

In [27]:
df_base['team'].value_counts()

000    712952
303    118602
603    110445
003    108649
604    101280
608     98432
304     96111
001     91542
301     90590
308     88144
601     87552
004     87296
008     86707
605     79645
005     79198
305     75131
611     72455
607     71874
011     69826
007     69777
311     69077
609     63820
006     62625
307     59865
306     59299
009     59261
612     59177
606     59081
012     58835
610     58539
        ...
623     11187
028     11106
626     10683
331     10615
033     10382
649      9513
332      9435
323      9304
632      8895
032      8884
631      8629
049      7285
349      6318
646      3917
346      2721
348      2342
048      2018
648      1466
647      1140
682       487
347       162
381        55
386        38
684        15
683        14
385         6
083         4
686         3
685         2
350         1
Name: team, Length: 161, dtype: int64

In [35]:
df_base['pandas_day_of_week'] = pd.to_datetime(df_base['workdate']).dt.dayofweek
df_base['is_work_day'] = df_base.apply(crew_work_day_table[plant_id.upper()], axis=1)
df_base['is_work_day'][df_base['workdate'].isin(chrysler_holiday_table)] = 'N'
df_base.drop(['pandas_day_of_week'], axis=1, inplace=True)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
df_base['is_work_day'].value_counts()

Y    3190756
N    2616914
Name: is_work_day, dtype: int64

In [37]:
df_base = crew_map_set_table[plant_id.upper()](df_base)

E:\Conway\HR-Analytics\source\pipeline_jnap.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['crew'][(df['ch_supv_grp'] > 100) & (df['ch_supv_grp'] < 500)] = 'B'
E:\Conway\HR-Analytics\source\pipeline_jnap.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['crew'][df['ch_supv_grp'] > 599] = 'C'

In [38]:
df_base['crew'].value_counts()

A    2447810
C    1730593
B    1629267
Name: crew, dtype: int64

In [41]:
df_base = set_production_lines(df_base, plant_specs)

E:\Conway\HR-Analytics\source\base_table.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['production_line'][(df['ch_dept'] == dept_number) & (df['team'].str[1:].isin(teams))] = pline
E:\Conway\HR-Analytics\source\base_table.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['production_line'][df['ch_dept'] == dept_number] = pline

In [42]:
df_base['production_line'].value_counts()

                 879099
Trim 1           523154
Paint Shop       493646
Material         441786
Body Shop        404101
Chassis 1 & 2    370112
Chassis 3        342753
Trim 2           323602
Engine Line      292683
Final 1          285294
Chassis 4        280011
Door Line        276789
Quality 1        259117
Final 2          197537
Quality 2        176730
Sunroof Deck     161799
Rolls             99457
Name: production_line, dtype: int64

## Model Table

This is essentially the create_model_table function exploded to debug the new Data Engineering table.

In [43]:
unplanned_codes = plant_specs['plant']['absence_codes']
unplanned_codes

['BERC',
 'BERE',
 'BERU',
 'BERX',
 'CARE',
 'CARU',
 'FMLA',
 'FMLD',
 'FMLU',
 'HOMD',
 'ILFE',
 'ILFU',
 'IPBE',
 'IPME',
 'IPNU',
 'IPSE',
 'JURE',
 'MISE',
 'MISU',
 'PERU',
 'PPAA',
 'PPAU',
 'TRAG',
 'WTRU']

In [85]:
df_model['abs_code'] = df_model['abs_code'].astype(str)

In [87]:
df_model['abs_code'].dtype

dtype('O')

In [88]:
np.where(pd.isnull(df_model['abs_code']))

(array([], dtype=int64),)

In [89]:
df_model['abs_code'].value_counts(dropna=False)

        2724929
FMLA     116948
HOMC      79612
HOMR      53473
VACF      49416
POOL      41543
PERE      20251
MISU      19245
PPAA      12107
HOMF       6252
DISC       5597
FMLU       3719
BERC       3285
UBUS       3159
TRAG       2787
LABS       1661
HOMM       1165
PPAU       1085
BERX       1036
IPSE        828
IPME        716
PAAH        532
HOMU        455
WTRU        391
JURY        360
IPBE        296
PEIA        255
DISP        169
HOMD        168
PERU        163
HFMU        153
BERE        108
MILX         82
RING         76
MISE         56
??LE         43
LFBE         40
JURE         34
WTRE         20
MILT         19
FMLD         16
SUBP         12
CARE         10
WRKC         10
CARU         10
LFBU          9
HMFA          9
IPNE          5
VACW          4
LOFS          3
BERU          3
VACC          2
ILFE          2
PQXP          1
VACH          1
IPNU          1
HMFU          1
STRK          1
VACD          1
CDLO          1
IDPT          1
Name: abs_code, dtype: int64

In [44]:
plant_shift_hours = plant_specs['plant']['shift_hours']
plant_shift_hours

10

In [45]:
exclude_dates = plant_specs['plant']['exclude_dates']
exclude_dates

[['2018-08-25', '2018-08-31'],
 ['2019-01-02', '2019-01-05'],
 ['2020-08-10', '2020-08-14']]

In [46]:
group_levels = plant_specs['model']['levels']
group_levels

['crew', 'production_line']

In [47]:
target = plant_specs['model']['target']
target

'absences_unplanned'

In [48]:
df_model = df_base.copy(deep=True)

In [49]:
df_model.shape

(5807670, 32)

In [50]:
df_model.columns

Index(['cid', 'workdate', 'ch_flexwrk_code', 'zip', 'lost_hrs', 'abs_code',
       'c_typ', 'ch_corploc', 'ch_dept', 'ch_supv_grp', 'shift', 'ch_actl_hrs',
       'ch_paa_hrs', 'holiday_hrs', 'birthdate', 'job_classification',
       'empl_tmp', 'empl_part_time', 'straight_hrs_by_payweek',
       'time_half_hrs_by_payweek', 'double_time_hrs_by_payweek',
       'shift_premium_by_payweek', 'eg_by_payweek', 'hrlypayrate',
       'offrole_hours_for_period', 'offrole_reason_code_for_period', 'team',
       'age', 'tenure', 'is_work_day', 'crew', 'production_line'],
      dtype='object')

In [52]:
df_model = df_model[df_model['is_work_day'] == 'Y']
df_model.drop(columns=['is_work_day'], inplace=True)

In [53]:
expanded_dates = expand_dates(exclude_dates)
df_model = df_model[df_model['workdate'].isin(expanded_dates) == False]

In [54]:
lost_hours_period = 20
df_model['actual_hours_sum'] = df_model.groupby('cid')['ch_actl_hrs'].transform(lambda x: x.rolling(lost_hours_period).sum().fillna(0))
df_model['lost_hours_sum'] = df_model.groupby('cid')['lost_hrs'].transform(lambda x: x.rolling(lost_hours_period).sum().fillna(0))
df_model['lost_hours_pct'] = round(100 * df_model['lost_hours_sum'] / (df_model['actual_hours_sum'] + df_model['lost_hours_sum']))
df_model['lost_hours_pct'].replace([np.inf, -np.inf], np.nan, inplace=True)
df_model['lost_hours_pct'].fillna(0.0, inplace=True)
df_model['lost_hours_pct'].loc[df_model['lost_hours_pct'] < 0.0] = 0.0
df_model['lost_hours_pct'].loc[df_model['lost_hours_pct'] > 100.0] = 100.0
df_model.drop(columns=['actual_hours_sum', 'lost_hours_sum'], inplace=True)

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [55]:
te_cols = ['cid'] + group_levels
df_model['days_on_team'] = df_model.groupby(te_cols).cumcount()

In [56]:
bins = [0, 21, 30, 40, 50, 60, 100]
labels = ['0-21', '22-30', '31-40', '41-50', '51-60', '>60']
df_model['age'] = pd.cut(df_model['age'], bins=bins, labels=labels)
df_model['age'] = df_model['age'].astype('category')

In [57]:
bins = [0, 2, 5, 10, 15, 20, 100]
labels = ['0-2', '3-5', '6-10', '11-15', '16-20', '>20']
df_model['tenure'] = pd.cut(df_model['tenure'], bins=bins, labels=labels)
df_model['tenure'] = df_model['tenure'].astype('category')

In [58]:
bins = [0, 15, 20, 25, 30, 35, 100]
labels = ['0-15', '16-20', '21-25', '26-30', '31-35', '>35']
df_model['hrlypayrate'] = pd.cut(df_model['hrlypayrate'], bins=bins, labels=labels)
df_model['hrlypayrate'] = df_model['hrlypayrate'].astype('category')

In [60]:
df_model['abs_code'] = df_model['abs_code'].str.strip()
unplanned_codes_str = '|'.join(unplanned_codes)
df_model['absence_unplanned'] = df_model['abs_code'].isin(unplanned_codes).astype(int)
df_model['absence_hours'] = 0.0
df_model.loc[df_model['abs_code'].isin(unplanned_codes), 'absence_hours'] = df_model['lost_hrs']
tardy_condition = (df_model['c_typ'] == 'T')
df_model['absence_late'] = ((df_model['abs_code'].isin(unplanned_codes)) & (tardy_condition)).astype(int)
df_model['absence_noshow'] = ((df_model['absence_unplanned'] > 0) & (df_model['lost_hrs'] >= plant_shift_hours)).astype(int)
df_model['absence_any'] = (df_model['abs_code'].str.len() == 4).astype(int)

In [74]:
df_model['streak'] = df_model.groupby('cid')['absence_unplanned'].apply(streaks)
df_model['cluster'] = df_model['streak'] >= 2
df_model['cluster'] = df_model['cluster'].astype(int)

In [95]:
# Total Working CIDs
lf_cid = lambda g: g[df_model.loc[g.index]['ch_actl_hrs'] > 0.0].count()
lf_cid.__name__ = 'cid_lfunc'
# Lost Hours Function
lf_lost = lambda g: g[(df_model.loc[g.index]['abs_code'].str.contains(unplanned_codes_str))].sum()
lf_lost.__name__ = 'lh_lfunc'
# Planned Absences
planned_codes_str = 'VACF|POOL|PAA'
lf_tap = lambda val: (val.str.contains(planned_codes_str)).sum()
lf_tap.__name__ = 'tap_lfunc'
# Total Home Canvasses
home_codes_str = 'HOMC|HOMR'
lf_thc = lambda val: (val.str.contains(home_codes_str)).sum()
lf_thc.__name__ = 'thc_lfunc'
# Total FMLA Absences
fmla_codes_str = 'FMLA|FMLU'
lf_fmla = lambda val: (val.str.contains(fmla_codes_str)).sum()
lf_fmla.__name__ = 'fmla_lfunc'
# PEIA Code
lf_peia = lambda g: g[(df_model.loc[g.index]['abs_code'].str.contains('PEIA'))].count()
lf_peia.__name__ = 'peia_lfunc'
# Total TPTs
lf_tpt = lambda g: g[(df_model.loc[g.index]['ch_actl_hrs'] > 0.0) & (df_model.loc[g.index]['ch_flexwrk_code'] == '2')].count()
lf_tpt.__name__ = 'tpt_lfunc'

In [62]:
group_cols = ['workdate'] + group_levels
group_cols

['workdate', 'crew', 'production_line']

In [97]:
agg_dict = {'cid'               : lf_cid,
            'lost_hrs'          : lf_lost,
            'ch_actl_hrs'       : 'sum',
            'ch_paa_hrs'        : 'sum',
            'absence_unplanned' : 'sum',
            'absence_late'      : 'sum',
            'absence_noshow'    : 'sum',
            'absence_any'       : 'sum',
            'lost_hours_pct'    : 'mean',
            'days_on_team'      : 'mean',
            'abs_code'          : [lf_tap,
                                   lf_thc,
                                   lf_fmla,
                                   lf_peia],
            'ch_flexwrk_code'   : lf_tpt,
            'streak'            : [streak_1,
                                   streak_2,
                                   streak_3,
                                   streak_4_plus],
            'cluster'           : 'sum'
            }
agg_dict

{'cid': <function __main__.<lambda>(g)>,
 'lost_hrs': <function __main__.<lambda>(g)>,
 'ch_actl_hrs': 'sum',
 'ch_paa_hrs': 'sum',
 'absence_unplanned': 'sum',
 'absence_late': 'sum',
 'absence_noshow': 'sum',
 'absence_any': 'sum',
 'lost_hours_pct': 'mean',
 'days_on_team': 'mean',
 'abs_code': [<function __main__.<lambda>(val)>,
  <function __main__.<lambda>(val)>,
  <function __main__.<lambda>(val)>,
  <function __main__.<lambda>(g)>],
 'ch_flexwrk_code': <function __main__.<lambda>(g)>,
 'streak': [<function __main__.streak_1(x)>,
  <function __main__.streak_2(x)>,
  <function __main__.streak_3(x)>,
  <function __main__.streak_4_plus(x)>],
 'cluster': 'sum'}

In [77]:
name_dict = {
    'cid'               : 'group_total_cid',
    'lost_hrs'          : 'lost_hours',
    'ch_actl_hrs'       : 'actual_hours',
    'ch_paa_hrs'        : 'paa_hours',
    'absence_unplanned' : 'absences_unplanned',
    'absence_late'      : 'absences_late',
    'absence_noshow'    : 'absences_noshow',
    'absence_any'       : 'absences_any',
    'lost_hours_pct'    : 'mean_absence_pct',
    'days_on_team'      : 'mean_experience',
    'abs_code'          : ['absences_planned',
                           'home_canvasses',
                           'absences_fmla',
                           'peia_count'],
    'ch_flexwrk_code'   : 'tpt_count',
    'streak'            : ['streak_1',
                           'streak_2',
                           'streak_3',
                           'streak_4_plus'],
    'cluster'           : 'cluster'
    }
name_dict

{'cid': 'group_total_cid',
 'lost_hrs': 'lost_hours',
 'ch_actl_hrs': 'actual_hours',
 'ch_paa_hrs': 'paa_hours',
 'absence_unplanned': 'absences_unplanned',
 'absence_late': 'absences_late',
 'absence_noshow': 'absences_noshow',
 'absence_any': 'absences_any',
 'lost_hours_pct': 'mean_absence_pct',
 'days_on_team': 'mean_experience',
 'abs_code': ['absences_planned',
  'home_canvasses',
  'absences_fmla',
  'peia_count'],
 'ch_flexwrk_code': 'tpt_count',
 'streak': ['streak_1', 'streak_2', 'streak_3', 'streak_4_plus'],
 'cluster': 'cluster'}

In [98]:
df_model.groupby(group_cols)['abs_code'].apply(lf_tap)

workdate    crew  production_line
2017-01-03  A                         2
                  Body Shop          12
                  Chassis 1 & 2       8
                  Chassis 3           3
                  Chassis 4           3
                  Door Line           5
                  Engine Line         6
                  Final 1             7
                  Final 2             3
                  Material            4
                  Paint Shop          7
                  Quality 1           5
                  Quality 2           4
                  Rolls               1
                  Sunroof Deck        3
                  Trim 1              9
                  Trim 2              2
            C                         0
                  Body Shop           9
                  Chassis 1 & 2       6
                  Chassis 3           6
                  Chassis 4           8
                  Door Line           8
                  Engine Line         4
                  Final 1             6
                  Final 2             8
                  Material            8
                  Paint Shop         11
                  Quality 1           2
                  Quality 2           6
                  Rolls               3
                  Sunroof Deck        4
                  Trim 1             12
                  Trim 2              3
2017-01-04  A                         0
                  Body Shop           9
                  Chassis 1 & 2       2
                  Chassis 3           3
                  Chassis 4           4
                  Door Line           2
                  Engine Line         4
                  Final 1             3
                  Final 2             1
                  Material            3
                  Paint Shop          8
                  Quality 1           3
                  Quality 2           1
                  Rolls               2
                  Sunroof Deck        3
                  Trim 1              5
                  Trim 2              2
            B                         2
                  Body Shop           6
                  Chassis 1 & 2       4
                  Chassis 3           3
                  Chassis 4           3
                  Door Line           2
                  Engine Line         4
                  Final 1             1
                  Final 2             1
                  Material            4
                  Paint Shop          4
                  Quality 1           2
                  Quality 2           4
                  Rolls               5
                  Sunroof Deck        1
                  Trim 1              3
                  Trim 2              2
2017-01-05  A                         0
                  Body Shop           7
                  Chassis 1 & 2       3
                  Chassis 3           3
                  Chassis 4           1
                  Door Line           3
                  Engine Line         5
                  Final 1             4
                  Final 2             2
                  Material            5
                  Paint Shop          7
                  Quality 1           4
                  Quality 2           2
                  Rolls               1
                  Sunroof Deck        5
                  Trim 1              8
                  Trim 2              2
            B                         2
                  Body Shop           4
                  Chassis 1 & 2       0
                  Chassis 3           2
                  Chassis 4           1
                  Door Line           3
                  Engine Line         2
                  Final 1             0
                  Final 2             0
                  Material            5
                  Paint Shop          2
                  Quality 1           4
                  Quality 2           3
                  Rolls               5
                  Sunroof Deck        1
                  Trim 1              2
                  Trim 2              1
2017-01-06  B                         2
                  Body Shop           7
                  Chassis 1 & 2       3
                  Chassis 3           3
                  Chassis 4           1
                  Door Line           5
                  Engine Line         3
                  Final 1             0
                  Final 2             1
                  Material            6
                  Paint Shop          5
                  Quality 1           5
                  Quality 2           3
                  Rolls               5
                  Sunroof Deck        2
                  Trim 1              4
                  Trim 2              1
            C                         0
                  Body Shop           3
                  Chassis 1 & 2       4
                  Chassis 3           2
                  Chassis 4           3
                  Door Line           4
                  Engine Line         2
                  Final 1             2
                  Final 2             2
                  Material            6
                  Paint Shop          3
                  Quality 1           1
                  Quality 2           0
                  Rolls               1
                  Sunroof Deck        2
                  Trim 1              4
                  Trim 2              1
2017-01-07  B                         2
                  Body Shop           7
                  Chassis 1 & 2       3
                  Chassis 3           4
                  Chassis 4           1
                  Door Line           6
                  Engine Line         3
                  Final 1             1
                  Final 2             1
                  Material           10
                  Paint Shop          7
                  Quality 1           5
                  Quality 2           3
                  Rolls               5
                  Sunroof Deck        2
                  Trim 1              2
                  Trim 2              2
            C                         1
                  Body Shop           4
                  Chassis 1 & 2       1
                  Chassis 3           5
                  Chassis 4           4
                  Door Line           1
                  Engine Line         0
                  Final 1             3
                  Final 2             2
                  Material            6
                  Paint Shop          2
                  Quality 1           0
                  Quality 2           2
                  Rolls               0
                  Sunroof Deck        3
                  Trim 1              5
                  Trim 2              1
2017-01-09  A                         2
                  Body Shop           6
                  Chassis 1 & 2       1
                  Chassis 3           2
                  Chassis 4           1
                  Door Line           2
                  Engine Line         3
                  Final 1             1
                  Final 2             1
                  Material            4
                  Paint Shop          6
                  Quality 1           2
                  Quality 2           0
                  Rolls               2
                  Sunroof Deck        1
                  Trim 1              3
                  Trim 2              1
            C                         0
                  Body Shop           2
                  Chassis 1 & 2       0
                  Chassis 3           5
                  Chassis 4           1
                  Door Line           4
                  Engine Line         1
                  Final 1             2
                  Final 2             2
                  Material            1
                  Paint Shop          1
                  Quality 1           0
                  Quality 2           0
                  Rolls               0
                  Sunroof Deck        2
                  Trim 1              1
                  Trim 2              1
2017-01-10  A                         1
                  Body Shop           2
                  Chassis 1 & 2       2
                  Chassis 3           6
                  Chassis 4           2
                  Door Line           2
                  Engine Line         1
                  Final 1             1
                  Final 2             1
                  Material            7
                  Paint Shop          6
                  Quality 1           1
                  Quality 2           0
                  Rolls               1
                  Sunroof Deck        1
                  Trim 1              2
                  Trim 2              2
            C                         0
                  Body Shop           4
                  Chassis 1 & 2       3
                  Chassis 3           2
                  Chassis 4           0
                  Door Line           2
                  Engine Line         0
                  Final 1             0
                  Final 2             3
                  Material            0
                  Paint Shop          5
                  Quality 1           1
                  Quality 2           0
                  Rolls               1
                  Sunroof Deck        1
                  Trim 1              3
                  Trim 2              3
2017-01-11  A                         2
                  Body Shop           5
                  Chassis 1 & 2       1
                  Chassis 3           2
                  Chassis 4           1
                  Door Line           0
                  Engine Line         3
                  Final 1             2
                  Final 2             2
                  Material            4
                  Paint Shop          4
                  Quality 1           1
                                     ..
2019-09-23  C     Door Line           2
                  Engine Line         3
                  Final 1             1
                  Final 2             3
                  Material            6
                  Paint Shop          4
                  Quality 1           2
                  Quality 2           2
                  Rolls               2
                  Sunroof Deck        1
                  Trim 1              2
                  Trim 2              3
2019-09-24  A                         1
                  Body Shop          10
                  Chassis 1 & 2       2
                  Chassis 3           5
                  Chassis 4           7
                  Door Line           1
                  Engine Line         1
                  Final 1             2
                  Final 2             6
                  Material            2
                  Paint Shop          5
                  Quality 1           4
                  Quality 2           1
                  Rolls               2
                  Sunroof Deck        1
                  Trim 1              4
                  Trim 2              1
            C                         0
                  Body Shop           3
                  Chassis 1 & 2       3
                  Chassis 3           4
                  Chassis 4           3
                  Door Line           2
                  Engine Line         1
                  Final 1             2
                  Final 2             3
                  Material            1
                  Paint Shop          3
                  Quality 1           3
                  Quality 2           2
                  Rolls               0
                  Sunroof Deck        2
                  Trim 1              2
                  Trim 2              1
2019-09-25  A                         0
                  Body Shop          14
                  Chassis 1 & 2       3
                  Chassis 3           2
                  Chassis 4           3
                  Door Line           2
                  Engine Line         4
                  Final 1             3
                  Final 2             2
                  Material            6
                  Paint Shop          2
                  Quality 1           4
                  Quality 2           1
                  Rolls               2
                  Sunroof Deck        1
                  Trim 1              3
                  Trim 2              4
            B                         0
                  Body Shop           5
                  Chassis 1 & 2       3
                  Chassis 3           5
                  Chassis 4           1
                  Door Line           2
                  Engine Line         1
                  Final 1             2
                  Final 2             0
                  Material            3
                  Paint Shop          6
                  Quality 1           2
                  Quality 2           1
                  Rolls               2
                  Sunroof Deck        0
                  Trim 1              4
                  Trim 2              2
2019-09-26  A                         0
                  Body Shop          10
                  Chassis 1 & 2       3
                  Chassis 3           8
                  Chassis 4           3
                  Door Line           3
                  Engine Line         6
                  Final 1             2
                  Final 2             3
                  Material            3
                  Paint Shop         12
                  Quality 1           4
                  Quality 2           2
                  Rolls               2
                  Sunroof Deck        4
                  Trim 1              8
                  Trim 2              1
            B                         0
                  Body Shop           1
                  Chassis 1 & 2       1
                  Chassis 3           4
                  Chassis 4           0
                  Door Line           0
                  Engine Line         2
                  Final 1             3
                  Final 2             1
                  Material            1
                  Paint Shop          4
                  Quality 1           2
                  Quality 2           3
                  Rolls               1
                  Sunroof Deck        0
                  Trim 1              2
                  Trim 2              1
2019-09-27  B                         1
                  Body Shop           2
                  Chassis 1 & 2       4
                  Chassis 3           3
                  Chassis 4           2
                  Door Line           5
                  Engine Line         4
                  Final 1             1
                  Final 2             1
                  Material            5
                  Paint Shop          5
                  Quality 1           3
                  Quality 2           3
                  Rolls               1
                  Sunroof Deck        0
                  Trim 1              3
                  Trim 2              3
            C                         0
                  Body Shop           6
                  Chassis 1 & 2       3
                  Chassis 3           3
                  Chassis 4           3
                  Door Line           3
                  Engine Line         1
                  Final 1             6
                  Final 2             3
                  Material            3
                  Paint Shop          6
                  Quality 1           6
                  Quality 2           2
                  Rolls               4
                  Sunroof Deck        1
                  Trim 1              4
                  Trim 2              4
2019-09-28  B                         0
                  Body Shop          10
                  Chassis 1 & 2       2
                  Chassis 3           4
                  Chassis 4           2
                  Door Line           5
                  Engine Line         6
                  Final 1             2
                  Final 2             1
                  Material            7
                  Paint Shop         14
                  Quality 1           1
                  Quality 2           3
                  Rolls               2
                  Sunroof Deck        1
                  Trim 1             12
                  Trim 2              2
            C                         0
                  Body Shop           7
                  Chassis 1 & 2       7
                  Chassis 3           5
                  Chassis 4           4
                  Door Line           5
                  Engine Line         6
                  Final 1             3
                  Final 2             1
                  Material            3
                  Paint Shop         11
                  Quality 1           5
                  Quality 2           2
                  Rolls               3
                  Sunroof Deck        1
                  Trim 1              7
                  Trim 2              6
2019-09-30  A                         0
                  Body Shop           0
                  Chassis 1 & 2       0
                  Chassis 3           0
                  Chassis 4           0
                  Door Line           0
                  Engine Line         0
                  Final 1             0
                  Final 2             0
                  Material            0
                  Paint Shop          0
                  Quality 1           0
                  Quality 2           0
                  Rolls               0
                  Sunroof Deck        0
                  Trim 1              0
                  Trim 2              0
            C                         0
                  Body Shop           0
                  Chassis 1 & 2       0
                  Chassis 3           0
                  Chassis 4           0
                  Door Line           0
                  Engine Line         0
                  Final 1             0
                  Final 2             0
                  Material            0
                  Paint Shop          0
                  Quality 1           0
                  Quality 2           0
                  Rolls               0
                  Sunroof Deck        0
                  Trim 1              0
                  Trim 2              0
2019-10-01  A                         0
                  Body Shop           0
                  Chassis 1 & 2       0
                  Chassis 3           0
                  Chassis 4           0
                  Door Line           0
                  Engine Line         0
                  Final 1             0
                  Final 2             0
                  Material            0
                  Paint Shop          0
                  Quality 1           0
                  Quality 2           0
                  Rolls               0
                  Sunroof Deck        0
                  Trim 1              0
                  Trim 2              0
            C                         0
                  Body Shop           0
                  Chassis 1 & 2       0
                  Chassis 3           0
                  Chassis 4           0
                  Door Line           0
                  Engine Line         0
                  Final 1             0
                  Final 2             0
                  Material            0
                  Paint Shop          0
                  Quality 1           0
                  Quality 2           0
                  Rolls               0
                  Sunroof Deck        0

In [99]:
df_agg = df_model.groupby(group_cols).agg(agg_dict).reset_index()

In [100]:
df_agg.columns

MultiIndex(levels=[['cid', 'lost_hrs', 'ch_actl_hrs', 'ch_paa_hrs', 'absence_unplanned', 'absence_late', 'absence_noshow', 'absence_any', 'lost_hours_pct', 'days_on_team', 'abs_code', 'ch_flexwrk_code', 'streak', 'cluster', 'production_line', 'crew', 'workdate'], ['cid_lfunc', 'fmla_lfunc', 'lh_lfunc', 'mean', 'peia_lfunc', 'streak_1', 'streak_2', 'streak_3', 'streak_4_plus', 'sum', 'tap_lfunc', 'thc_lfunc', 'tpt_lfunc', '']],
           codes=[[16, 15, 14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 11, 12, 12, 12, 12, 13], [13, 13, 13, 0, 2, 9, 9, 9, 9, 9, 9, 3, 3, 10, 11, 1, 4, 12, 5, 6, 7, 8, 9]])

In [102]:
df_agg.columns[0]

('workdate', '')

In [103]:
agg_cols0 = [x[0] for x in list(df_agg.columns.values)]
agg_cols0

['workdate',
 'crew',
 'production_line',
 'cid',
 'lost_hrs',
 'ch_actl_hrs',
 'ch_paa_hrs',
 'absence_unplanned',
 'absence_late',
 'absence_noshow',
 'absence_any',
 'lost_hours_pct',
 'days_on_team',
 'abs_code',
 'abs_code',
 'abs_code',
 'abs_code',
 'ch_flexwrk_code',
 'streak',
 'streak',
 'streak',
 'streak',
 'cluster']

In [104]:
agg_cols1 = [x[1] for x in list(df_agg.columns.values)]
agg_cols1

['',
 '',
 '',
 'cid_lfunc',
 'lh_lfunc',
 'sum',
 'sum',
 'sum',
 'sum',
 'sum',
 'sum',
 'mean',
 'mean',
 'tap_lfunc',
 'thc_lfunc',
 'fmla_lfunc',
 'peia_lfunc',
 'tpt_lfunc',
 'streak_1',
 'streak_2',
 'streak_3',
 'streak_4_plus',
 'sum']

In [107]:
agg_col_names = ['group_total_cid',
                 'lost_hours',
                 'actual_hours',
                 'paa_hours',
                 'absences_unplanned',
                 'absences_late',
                 'absences_noshow',
                 'absences_any',
                 'mean_absence_pct',
                 'mean_experience',
                 'absences_planned',
                 'home_canvasses',
                 'absences_fmla',
                 'peia_count',
                 'tpt_count',
                 'streak_1',
                 'streak_2',
                 'streak_3',
                 'streak_4_plus',
                 'cluster']

In [108]:
agg_slice = slice(len(group_cols), len(agg_cols1)+1)
agg_cols = agg_cols0
agg_cols[agg_slice] = agg_col_names
df_agg.columns = agg_cols

In [109]:
df_agg.columns

Index(['workdate', 'crew', 'production_line', 'group_total_cid', 'lost_hours',
       'actual_hours', 'paa_hours', 'absences_unplanned', 'absences_late',
       'absences_noshow', 'absences_any', 'mean_absence_pct',
       'mean_experience', 'absences_planned', 'home_canvasses',
       'absences_fmla', 'peia_count', 'tpt_count', 'streak_1', 'streak_2',
       'streak_3', 'streak_4_plus', 'cluster'],
      dtype='object')

In [113]:
df_agg[['absences_any', 'absences_unplanned', 'streak_1', 'cluster']].sample(20)

       absences_any  absences_unplanned  streak_1  cluster
12273             8                   3         2        1
18436             7                   4         2        2
8557             12                   5         3        2
16366            15                   5         3        2
25786             9                   4         4        0
24900            20                   8         7        1
25810            12                   7         6        1
20698            26                  20        18        2
3875             11                   7         4        3
2894             11                   9         5        4
4887              6                   2         2        0
5240             15                   8         6        2
18525            11                   1         1        0
3833             17                  13         4        9
22561            22                  12         7        5
6907             13                   5         4        1
1085              9                   1         0        1
22062             6                   3         3        0
13855             6                   4         4        0
2847             15                  11         7        4

## End of Notebook